/*-------------------global-------------------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
/*不知道有什么用*/
.floatfix {
*zoom: 1;
}
.floatfix:after {
content: "";
display: table;
clear: both;
}

body{
	background-color: #fff; 
}
/*-------------------layout-------------------*/

/*----- header -----*/
header{
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid #003366;
}
header a,.top-left a {
	line-height: 49px;
}
.top-left, .top-right{
	display: flex;
}
.top-left h3, a{
    margin: 0px 20px 0px 10px;
}
.top-right a{
	margin-right: 50px;
}
.btn-1:before, .btn-2:before{
	content: "";
	display: block;
	position: absolute;
	opacity: 0.4;
	margin-top: 6px;
	margin-left: -10px;
	width: 60px;
	height: 30px;
	border: 1px solid black;
	background: #c7c8ca;
}
/*追加的自适应icon*/
.top-right i{
	display: none;
}
.fa-bars, .fa-user{
	color: #003366;
	position: absolute;
}
.fa-bars{
    right: 15px;
    top: 8.5px;
}
.fa-user{
	right: 55px;
    top: 8.5px;
}
/*----- 轮播区域 -----*/

.top-wrapper{
	padding-bottom: 450px;
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
}
/*放图片的ul*/

.top-img{
	display: flex;
    justify-content: center;
}
/*放图片的li*/

.img-item{
	position: absolute;
	animation: slider 9s infinite;
	opacity: 0;
}
.img-item img{
	width: 100%;
}
/*图片配字*/

.ja, .en{
	position: absolute;
	font-size: 30px;
	left: 42%;
	top: 39%;
	opacity: 0.8;
	font-family:'Modern';
}
.en{
	top: 45%;
	left: 52%;
	font-size: 54px;
	font-family: Apple Chancery, cursive;
}
/*轮播焦点*/

.disc{
	position:absolute;
	left: 0;
	right: 0;
	bottom: 2%;
	z-index: 7;
	}
.disc ul{
	margin-left: 46%;
}
.disc li{
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 10px;
}
.disc i{
	position: relative;
	top: -16px;
	opacity: 0;
	animation: slider 9s infinite;
}
/*轮播左右按钮*/

.sidebar,.fa-chevron-left,.fa-chevron-right{
	position: absolute;
}
.sidebar{
	width: 100%;
	top: 46%;
	color: #F8F8F0;
}
.fa-chevron-left{
	left: 9%;
}
.fa-chevron-right{
	right: 9%;
}
/*轮播动画*/

@keyframes slider{
	0%{
		opacity: 0;
	}
	1%{
		opacity: 1;
	}
	2%{
		opacity: 1;
	}
	3%{
		opacity: 1;
	}
	4%{
		opacity: 1;
	}
    32%{
    	opacity: 1;
    }
	33%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}
/*每张图片的延迟时间*/

.img-item1, #notch-1{
        animation-delay: 0s;
}
.img-item2, #notch-2{
        animation-delay: 3s;
}
.img-item3, #notch-3{
        animation-delay: 6s;
}

/*-------- Search部分 --------*/
.pho-search{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin: 20px 0;
}
.pho-search form{
	display: flex;
	justify-content: center;
}
.pho-search input{
    width: 850px;
    height: 50px;
    border: 5px solid;
    font-size: 18px;
    border-radius: 0 !important;
}
.sea-btn{
	width: 50px;
	height: 50px;
	border: 1px solid #003366;
	background: #003366;
}
.sea-btn:before{
	content: "\f002";
	color: #fff;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 1.5em;
}

/*------------------- MAP部分 -------------------*/

/*----- 向下小箭头 -----*/

.arrow-down{
	position: absolute;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin: 20px 0;
}
/*箭头动态效果*/

@keyframes arrowDown{
	0%{ 
		margin-top: 30px;
	}
    100%{
    	margin-top: 10px;

    }
}
.fa-angle-double-down{
	opacity: 0.6;
	animation: arrowDown 2s infinite;
}

/*----- 地图部分 -----*/

.map-top-wrap{
	width: 100%;
	margin-top: 150px;
}
.map-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.map-wrap img{
	width: 600px;
}
/*------------------- 连接和动物栏 -------------------*/
.a-animals{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
}
/*左边链接栏*/
.a-left{
    flex: 1 0 20%;
    display: flex;
    flex-flow: column nowrap;
    align-items:center;

}
.info-wrap a, .a-right p{
    font-size: 14px;
}
.a-left a{
	display: block;
	width: 87%;
	height: 12%;
	background: #f0f0f1;
	margin-bottom: 10px;
	line-height: 66px;
	text-align: center;
}
.a-left h3{
}
/*右边链接栏*/
.a-right{
    flex: 1 0 75%;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 100px;
}
.a-wrapper{
	flex: 1 1 33%;
}
.fox, .bear, .deer{
	display: flex;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 1px solid #85a2a9;
	margin: 0 auto;
	overflow: hidden;
}
.a-right img{
	width: 200px;
}
.brief{
	width: 200px;
	margin: 0 auto;
}

/*----- 页面底部----- */
footer{
	border-top: 3px solid #003366;
	padding-bottom: 10px;
}
.low, .a-left h3,.brief h3, footer h3{
	text-align: center;
}
/*-------------------others-------------------*/

/*背景颜色，字体颜色合并*/

header,footer{
	background: #f0f0f1; 
}
header a, .top-left a, .low a,.arrow-down p,.a-left h3,.a-left a, .brief h3, p{
	color: #767474;
	font-family: ヒラギノ角ゴ, fantasy;
}
.top-left h3, footer h3{
    font-family: Jazz LET, fantasy;
    color: #ab9f9f;
    line-height: 49px;
    padding-right: 20px;
}
.ja, .en, .disc li{
	color: #fff;
}
.disc i,.fa-angle-double-down{
	color: #003366;
}
.pho-search input,.arrow-down p{
	color: #8b8d90;
}
/*a,botton等效果*/
a:hover{
	opacity: 0.4;
}
area:hover{
	box-shadow: 10px 11px 15px #fff;
}
/*自适应*/
/*pad向适应*/
@media all and (max-width: 1000px){

}
/*移动电话端适应*/
@media all and (max-width: 670px){
	/*header部分*/
	.top-right i{
		display: block;
	}
	header a{
		display: none;
	}
	.top-left h3{
		color: #003366;
	}
	/*search部分*/
	.pho-search{
        margin: 0;
	}
    .pho-search input{
    	width: 300px;
    	font-size: 14px;
    }
    /*轮播图部分-删掉了icon控制部件，字调小*/
    .top-wrapper{
    	height: 100%;
        padding-bottom: 40%;
    }
    .disc{
    	display: none;
    }
    .ja, .en{
    	font-size: 14px;
    }
    /*map部分*/
    .map-wrap img{
	    width: 100%;
	    padding: 0 10px;
    }
    .arrow-down p{
    	font-size: 10px;
    }
    .map-top-wrap{
	    margin-top: 100px;
    }
    /*连接和动物部分*/
    .a-animals{
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
    }
   .a-left{
	    flex-flow: row wrap;
	    justify-content: space-around;
    }
    .a-left a{
    	margin-bottom: 4px;
    	line-height: 33px;
    	font-size: 10px;
    	width: 38%;
	    height: 15%;
    }
    .a-left h3{
    	display: block;
    	width: 100%;
    }
    .a-right{
	    flex-flow: column wrap;
	    margin-top: 30px;
    }
    .a-right p, .a-right h3{
    	font-size: 0.5em;
    }
}