/*pad向适应*/
@media all and (max-width: 1000px){

}
/*移动电话端适应*/
@media all and (max-width: 670px){
	.top-right i{
		display: block;
	}
	header a{
		display: none;
	}
	.top-left h3{
		color: #003366;
	}
	
	.pho-search{
        margin: 0;
	}
    .pho-search input{
    	width: 300px;
    	font-size: 14px;
    }
    .sear-icon:before{
    	right: 100px;
        top: 522px;
    }
    .top-wrapper{
    	height: 100%;
        padding-bottom: 40%;
    }
    .disc{
    	display: none;
    }
    .ja, .en{
    	font-size: 14px;
    }
    .map-wrap img{
	    width: 100%;
	    padding: 0 10px;
    }
    .arrow-down p{
    	font-size: 10px;
    }
    .map-top-wrap{
	    margin-top: 100px;
    }
    .a-animals{
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
    }
   .a-left{
	    flex-flow: row wrap;
	    justify-content: space-around;
    }
    .a-left a{
    	margin-bottom: 4px;
    	line-height: 33px;
    	font-size: 10px;
    	width: 38%;
	    height: 15%;
    }
    .a-left h3{
    	display: block;
    	width: 100%;
    }
    .a-right{
	    flex-flow: column wrap;
	    /*justify-content: space-around;*/
	    margin-top: 30px;
    }
    .a-right p, h3{
    	font-size: 0.5em;
    }
}