html, body{
	margin: 0;
	padding: 0;
	background: black;
	text-align: center;
	font-family: 
}
.main_page{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: transparent url('bg_p.jpg') no-repeat center center;
	background-size: 100% auto;
}
.main_page p{
	margin: 0;
	display: block;
	color: white;
	font-size: 3em;
	padding: 150px 80px;
	text-shadow: 0.1em 0.1em 0.02em #033307;
}
.main_page input{
	width: 200px;
	height: 30px;
	border: 4px solid #506952;
	margin-bottom: 300px;
}
.main_page button{
	width: 80px;
	height: 35px;
	background-color: #AE81FF;
	border: none;
	color: white;
	border-radius: 2px;
}